body {
    background-color:#6EA5D9;
}
.content {
    width: 800px;
    display: inline-block;
    margin-top: 200px;
    margin-left: calc((100% - 800px) / 2);
    

}
.left-column { 
    background-color:#567BD7;
    width: 40%;
    float:left;
    color:#FFFFFF;
    padding: 40px;
    padding-bottom: 20px;
}
.bottom-texts {
    color:#FFFFFF;
}

.bottom-texts > a {
    color: #FFFFFF;
}
   
.right-column { 
    background-color:#FFFFFF;
    width:60%;
    float:left;
    padding: 60px;  
    
}


